body{
    background-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);

}

/* Página principal */

header {
    background-color: white;
    height: fit-content;
    width: fit-content;
    }

nav {
    background-color: white;
    display: flex;
    font-size: small;
}

a {
    padding-right: 20px;
    text-decoration: none;
}

.link_ilustracion, .link_textil, .link_figuras {
    color:blue;
}

/* Tabla de Horarios */
.dias{
    font-weight: bold;
}

.lunes_a_viernes, .Lunes, .Martes, .Miércoles,.Jueves,.Viernes {
    color: goldenrod;
}

.Sabado, .horario_sabados {
    color:brown;
}

.Domingo, .horario_domingo {
    color: rgb(167, 167, 167);
}
.horarios{
    font-style: italic;
    font-size: small;
}

.header_box{
    width: ;
    height: ;
    border-radius: 5px ;
}

table{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    border-color: black;
}

th, td{
    border: 1px solid;
    border-color: black;
}